$black: #000000;
$background: #e3e3ff;
$gray-line: #c9c9c9;
$orange: #2facaa;
$orange-hover: #38c9c6;
$orange-disabled: #74cecc;
$light-gray:#f3f3f7;
$text-gray:#5c6370;

$container-width: 90%;

$duration: 0.15s;
